/*
* Margin classes
*/
.mt-5 {
    margin-top: 55px;
}

.mb-5 {
    margin-bottom: 55px;
}

/*
* Positioning related styling.
*/
.center {
    display: block;
    margin: 0 auto;
}

/*
* Container related styling.
*/
.form__container {
    width: 344px;
}

.gallery__container {
    height: 89vh;
    overflow: hidden;
    width: 100%;
    margin: 0 auto;
}

/*
* Design for mobile screen first. Media screen is needed for larger screen size styling.
*/
@media only screen and (min-width: 768px) {
    .gallery__container {
        width: 55%;
    }
}

/*
* Image related styling.
*/
.gallery__image {
    height: 34%;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}
