body {
    background-color: rgb(248,248,255);
}

/*
* Margin classes
*/
.mt-5 {
    margin-top: 55px;
}

.mb-5 {
    margin-bottom: 55px;
}

/*
* Positioning related styling.
*/
.center {
    display: flex;
    justify-content: center;
}

/*
* Container related styling.
*/
.gallery__container {
    /* height: 89vh; */
    overflow: hidden;
    margin: 0 auto;
    column-count: 1;
    column-gap: 21px;
    padding: 34px;
}

/*
* Design for mobile screen first. Media screen is needed for larger screen size styling.
*/
@media only screen and (min-width: 768px) {
    .gallery__container {
        width: 89%;
        column-count: 2;
    }
}
@media only screen and (min-width: 1024px) {
    .gallery__container {
        column-count: 3;
    }
}

/*
* Image related styling.
*/
.gallery__image {
    height: 344px;
    margin: 21px 0;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    overflow: hidden;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}
.gallery__image:hover {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

/*
* Input related styling
*/
input {
    border-radius: 55px;
    height: 34px;
    width: 100%;
    max-width: 344px;
    border: 1px solid rgba(0,0,0, 0.21);
}

/*
* Button related styling
*/
button {
    height: 34px;
    background-color: white;
    border: 1px solid rgba(0,0,0, 0.21);
    border-radius: 5px;
    min-width: 89px;
}
